/* Base Element Styles  */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    color: #394f61;
    width: 100%;
}

body {
	font-family: Grandstander, Roboto, sans-serif;
    line-height: 1.5;
    background-color: #F2F2F2;
}

p {
	font-size: 1em;
    margin-bottom: 1.8em;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
}

/* Navigation Top and footer */

nav {
    background-color: #f9b233;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    align-content: center;
}

nav h1 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.logo {
    max-width: 250px;
    
}

footer {
    background-color: #f9b233;
    padding-top: 1.5px;
    display: flex;
    align-items: center;

}

.footer_p {
    text-transform: uppercase;
    font-size: smaller;
    text-align: center;
    align-self: center;
    
}

/* Main Area */

.signup {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 1px;
}

.legend {
    text-transform: uppercase;
    text-align: center;
    padding: 1.5px 1px;
    background-color: #f9b233;
}

form {
    max-width: 767px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #F2F2F2;
  }

fieldset {
    border: none;
    padding: 15px;
}


/* Media Queries */