/* Base Element Styles  */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    color: #394f61;
    
}

body {
	font-family: Grandstander, Roboto, sans-serif;
    line-height: 1.5;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
	font-size: 1em;
    margin-bottom: 1.8em;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
}

/* Navigation Top and footer */

nav {
    background-color: #f9b233;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    align-content: center;
}

nav h1 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
}

.logo {
    max-width: 250px;
    
}

footer {
    background-color: #f9b233;
    padding-top: .3px;
    width: 100%;
}

.footer_p {
    text-transform: uppercase;
    font-size: smaller;
}

/* Main Area */

main {
    flex: 1;
}

.signup {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 1px;
}

.legend {
    text-transform: uppercase;
    text-align: center;
    padding: 1.5px 1px;
    background-color: #f9b233;
    width: 100%;
}

form {
    max-width: 767px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #F2F2F2;
  }

fieldset {
    border: none;
    padding: 15px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: #374d56;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #d0d1d2;
  color: #394f61;
  box-shadow: 0 0 1px #324657 inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
    padding: 20px 40px 18px 38px;
    color: #394f61;
    background-color: #f9b233;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 #394f61 inset;
    margin-bottom: 10px;
}

button:hover {
    color: #f9b233;
    background-color: #324657;
}

button[type="submit"] {
    cursor: pointer;
}

button:focus {
    outline: 2px solid #394f61;
}

input:focus,
textarea:focus {
    background-color: #7e858a;
    color: #F2F2F2;
    outline: 2px solid #f9b233; 

}

input::placeholder {
    color: #e8e9e9;
    text-align: right;
  }

textarea::placeholder {
    color: #e8e9e9;
  } 


/* Media Queries */

@media screen and (min-width: 768px) {

.flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

}